body{
	background-color:#f3f2f0;
}
.header .col-lg-12{
	padding-left:0px;
	padding-right:0px;
}

/*début du header*/
.logo{
	margin:5px ;
}
.btn-admin{
	float:right;
	margin-top:8px;
}
.navbar-toggle{
	margin-left:5px;
}
.navbar-default{
	background-color:#f3f2f0;
	border-color:#f3f2f0;
}
.navbar-nav{
	margin-top:15px;
	display:table;
}
nav ul{
	background-color:#686868;
	border-radius:10px;
	width:100%;
	margin-left:25%;
}
nav li{
	width:auto;
	text-align:center;
}
.li-nav{
	float:none;
	display:table-cell;
}
.navbar-default .navbar-nav > li > a {
	color:white;
}
.navbar-default .navbar-nav > li:hover > a {
	color:white;
}
.toggle-nav{
	background-color:#686868;
}
.container-fluid{
	padding-right:0px;
	padding-left:0px;
}
.collapse{
	width:100%;
}
/*fin header*/

/*début footer*/
.main-footer{
	border:solid 2px #686868;
	border-left:none;
	border-right:none;
	margin:15 0 0 0;
	padding-top:10px;
}
.list-footer ul{
	display:table;
	width:100%;
}
.list-footer li{
	list-style-type:none;
	display:table-cell;
	text-align:center;
}
.text-footer{
	text-align:center;
}
/*fin footer*/
/*css home page*/
.btn-info{
	width:100%;
	margin-bottom:20px;
	background-color:#48b9c7;
	font-weight:bold;
}
.black{
	color:black;
}
.imgHome{
	width: 100%;
	margin-bottom:30px;
}
.img2{
	width:377px;
	height:257px;
	background-color:white;
}
.img2 a{
	text-decoration:none;
}
.typo-intro{
	font-family: 'intro_regular',Arial,Helvetica,sans-serif;
	font-size:45px;
	font-weight:normal;
}
.gray{
	color:#e2e2e2;
}
.blue{
	color:#48b9c7;
}
.yellow{
	color:#fbd515;
}

