nav ul{
	list-style-type:none;
	margin:12px 0;
	padding:0;
	overflow:hidden;
	background-color:#686868;
	border-radius:10px;
}
nav li{
	float:left;
}
nav li a{
	display:block;
	text-decoration:none;
	color:white;
	text-align:center;
	padding:14px 16px;
}
nav li a:hover, a:focus, a:active{
	text-decoration:none;
	color:white;
}
